<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/liquor.css">
    <script src="../static/liquor.js"></script>
    <title>LIQUOR.COM</title>
  </head>
  <body>
    <h1>LIQUOR.COM</h1>
    <div id="block">
      <input type="text" id="wantThis">
      <input type="button" id="search" value="SEARCH" onclick="letsSearch()">
    </div>

    <!-- 検索結果を動的に表示する -->
    <div id="searchResult"></div>

    <!-- アクセス時に商品を表示 -->
    <div id="block">
      <div id="list1">NEW ARRIVE</div>
      <div id="list2">RANKING</div>
    </div>
  </body>
</html>
