<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/liquor.css">
    <script src="../static/liquor.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>LIQUOR.COM</title>
  </head>
  <body>
    <h1>LIQUOR.COM</h1>

    <!-- 検索ブロック -->
    <div id="block">
      <input type="text" id="wantThis" placeholder="商品検索">
      <input type="button" id="search" value="SEARCH" onclick="searchLiquor()">
    </div>

    <!-- 検索結果を動的に表示する -->
    <div id="searchResult"></div>

    <!-- アクセス時に商品を表示する -->
    <div id="block">
      <div id="newArrive">
        NEW ARRIVE
        <div id="liquors"></div>
      </div>
    </div>

    <!-- 商品名クリック時にフェード機能を起動 -->
    <div id="fadeLayer"></div>

  </body>
</html>
