body {
  background-image: url("./liquor1.jpg");
  background-color: rgba(46, 46, 46, 0.8);
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: "Monotype Corsiva";
  font-size: 48px;
  color: aquamarine;
  background-color: rgba(46, 46, 46, 0.9);
  animation-name: loading;
  animation-duration: 2s;
}

/* 検索文字列の入力フィールド */
#wantThis {
  width: 30%;
  height: 5%;
  background-color: ghostwhite;

  font-family: "Comic Sans MS";

  animation-name: loading;
  animation-duration: 2s;
}

/* 検索ボタン */
#search {
  background-color: ghostwhite;
  border-radius: 20% 20%;

  font-family: "Comic Sans MS";
  font-size: medium;
}

#block,
#searchResult {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newArrive {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 2%;
  margin-left: 1%;
  padding: 3%;
  background-color: rgb(125, 207, 250, 0.93);
  border-radius: 50% 20% / 10% 40%;
  /* animation-name: loading;
  animation-duration: 2s; */

  text-align: center;
  font-size: large;
  font-family: "Comic Sans MS";
}

/* 検索結果表示フィールド */
#resultDiv {
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 2%;
  margin-left: 1%;
  padding: 3%;
  background-color: rgb(125, 207, 250, 0.93);
  border-radius: 50% 20% / 10% 40%;
  animation-name: loadDisplay;
  animation-duration: 1s;

  text-align: center;
  font-family: "Comic Sans MS";
}

/* 取り置き予約フォーマット用 */
#reservation {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 20%;
  margin-left: 1%;
  padding: 3%;
  background-color: rgb(125, 207, 250, 1);
  border-radius: 50% 20% / 10% 40%;
  animation-name: loadDisplay;
  animation-duration: 1s;

  text-align: center;
  font-family: "Comic Sans MS";
}

#fadeLayer {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: rgb(164, 163, 160, 0.5);
  visibility: hidden;
  z-index: 1;
}

@keyframes loadDisplay {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
